@import "tailwindcss";

html {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

body {
  @apply bg-slate-100 text-slate-900;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #1e293b inset;
  box-shadow: 0 0 0 1000px #1e293b inset;
  transition: background-color 9999s ease-in-out 0s;
}
